# IBM Applied Data Science - Capstone project
## Exercises

### Topic: Predict Car Accident Severity in Seattle, USA

In [1]:
%matplotlib inline

# import libraries
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression

import os.path

In [2]:
# get the data

data_url = 'https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv'

df = pd.read_csv(data_url)

/Users/martin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [108]:
# To be run independently
df.info()
#df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

In [109]:
# count unique values for a given column

id="WEATHER"

td = df[id].value_counts().to_frame()

#td.replace('999', np.nan, inplace = True)
#td.loc[('999'),:]
td

                          WEATHER
Clear                      111135
Raining                     33145
Overcast                    27714
Unknown                     15091
Snowing                       907
Other                         832
Fog/Smog/Smoke                569
Sleet/Hail/Freezing Rain      113
Blowing Sand/Dirt              56
Severe Crosswind               25
Partly Cloudy                   5

In [131]:
# count number of NaNs

def df_qc(df):

    missing_data = df.isnull()
    df_nan = pd.DataFrame(columns=['ID', 'val', 'nan'])

    for column in missing_data.columns.values.tolist():
        try:
            val_ok = missing_data[column].value_counts()[0]
            val_nan = missing_data[column].value_counts()[1]

            df_new_row = pd.DataFrame(data=np.array([[column,val_ok,val_nan]]), columns=['ID','val','nan'])
            df_nan = pd.concat([df_nan,df_new_row], ignore_index=True)

        except:
            val_ok = missing_data[column].value_counts()[0]
            df_new_row = pd.DataFrame(data=np.array([[column,val_ok,0]]), columns=['ID','val','nan'])
            df_nan = pd.concat([df_nan,df_new_row], ignore_index=True)

    # cast values as integer
    df_nan = df_nan.astype({'val' :'int','nan':'int'})

    df_nan.set_index('ID', inplace=True)
    df_nan.sort_values(['nan'], ascending=True, axis=0, inplace=True)

    return df_nan

In [132]:
df_qc(td)

                   val  nan
ID
SEVERITYCODE    194673    0
SDOT_COLCODE    194673    0
SDOT_COLDESC    194673    0
INATTENTIONIND  194673    0
UNDERINFL       194673    0
WEATHER         194673    0
ROADCOND        194673    0
LIGHTCOND       194673    0
JUNCTIONTYPE    194673    0
PEDROWNOTGRNT   194673    0
SPEEDING        194673    0
ST_COLCODE      194673    0
ST_COLDESC      194673    0
SEGLANEKEY      194673    0
CROSSWALKKEY    194673    0
HITPARKEDCAR    194673    0
YEAR            194673    0
SDOTCOLNUM      194673    0
INCDTTM         194673    0
INCDATE         194673    0
VEHCOUNT        194673    0
X               194673    0
Y               194673    0
OBJECTID        194673    0
INCKEY          194673    0
COLDETKEY       194673    0
REPORTNO        194673    0
STATUS          194673    0
ADDRTYPE        194673    0
INTKEY          194673    0
LOCATION        194673    0
EXCEPTRSNCODE   194673    0
EXCEPTRSNDESC   194673    0
SEVERITYCODE.1  194673    0
SEVERITYDESC    194673    0
COLLISIONTYPE   194673    0
PPED            194673    0
PCYC            194673    0
MONTH           194673    0
PCAR            194673    0

## Clean-up Data and Format

Target value: **SEVERITYCODE**
Goal: Predict severity of accident

* INJURIES: total number of injuries
* SERIOUSINJURIES: total number of serious injuries

* COLLISIONTYPE: how did the cars collide
---
### Participants
* PERSONCOUNT: How many people were involved 
* PEDCOUNT: Number of pedestrians involved
* PEDCYLCOUNT: number of bikes involved
* VEHCOUNT: number of vehicles involved
---
### Nature
* LIGHTCOND / WEATHER / ROADCOND
---
* INCDATE: date of accident
---
### Location
* X / Y: where accident has happened
* LOCATION: exact location

* JUNCTIONTYPE
* CROSSWALKKEY
* SEGLANEKEY: Lane segment
* HITPARKEDCAR
* ADDRTYPE
---
### Fault
* INATTENTIONIND: inattentive or not
* UNDERINFL: influence of narcotics
* PEDROWNOTGRNT: pedestrian right granted?
* SPEEDING
---
### Description
* ST_COLCODE: Description for the accident

# to do
* create number in cars
* create number values for objects 
* convert: UNDERINFL
* create categories
    * years
    * weather and light

* normalize data
* xplot severitydesc and severitycode

# Format Data

In [127]:
## 1) Extract Year and Month and create new column

df_c = df.copy()
df_c["YEAR"] = int(df["INCDATE"][0][0:4])
df_c["MONTH"] = int(df["INCDATE"][0][5:7])

## 2) Create from PERSONCOUNT / PEDCOUNT / PEDCYLCOUNT the number of people in cars
# int

df_c["PCAR"] = df["PERSONCOUNT"] - df["PEDCOUNT"] - df["PEDCYLCOUNT"] 
df_c.rename(columns={'PEDCOUNT':'PPED', 'PEDCYLCOUNT':'PCYC'}, inplace=True)

df_c.drop('PERSONCOUNT', inplace= True, axis=1)

In [130]:
## 3) convert weather and street conditions into integer

td = df_c.fillna(0)

#td.value_counts().to_frame()

td
df_qc(td)

                   val     nan
ID
SEVERITYCODE    194673       0
SEGLANEKEY      194673       0
SDOT_COLDESC    194673       0
SDOT_COLCODE    194673       0
INCDTTM         194673       0
INCDATE         194673       0
VEHCOUNT        194673       0
CROSSWALKKEY    194673       0
PEDCOUNT        194673       0
PERSONCOUNT     194673       0
SEVERITYDESC    194673       0
SEVERITYCODE.1  194673       0
PEDCYLCOUNT     194673       0
HITPARKEDCAR    194673       0
OBJECTID        194673       0
COLDETKEY       194673       0
REPORTNO        194673       0
STATUS          194673       0
INCKEY          194673       0
ST_COLCODE      194655      18
ADDRTYPE        192747    1926
LOCATION        191996    2677
UNDERINFL       189789    4884
COLLISIONTYPE   189769    4904
ST_COLDESC      189769    4904
ROADCOND        189661    5012
WEATHER         189592    5081
LIGHTCOND       189503    5170
X               189339    5334
Y               189339    5334
JUNCTIONTYPE    188344    6329
SDOTCOLNUM      114936   79737
EXCEPTRSNCODE    84811  109862
INTKEY           65070  129603
INATTENTIONIND   29805  164868
SPEEDING          9333  185340
EXCEPTRSNDESC     5638  189035
PEDROWNOTGRNT     4667  190006

In [48]:
## 4) convert UNDERINFL into int

In [ ]:
## 5) convert